# Please change parameters according to your bare-metal machine
node_id=$( $NOVA_BIN_DIR/nova-bm-manage node create --host `hostname` --cpus 2 --memory_mb=8192 --local_gb=250 --pm_address=172.16.212.6 --pm_user=test --pm_password=password --terminal_port=0 --prov_mac_address=3c:4a:92:72:38:23 )

# Please change parameters according to your bare-metal machine
$NOVA_BIN_DIR/nova-bm-manage interface create --node_id=$node_id --mac_address=00:15:17:73:06:82 --datapath_id=0x0 --port_no=0
$NOVA_BIN_DIR/nova-bm-manage interface create --node_id=$node_id --mac_address=00:15:17:73:06:83 --datapath_id=0x0 --port_no=0

